html, body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

@font-face {
    font-family: 'iconfont';  /* project id 483728 */
    src: url('//at.alicdn.com/t/font_483728_phfzrltbvxtj4i.eot');
    src: url('//at.alicdn.com/t/font_483728_phfzrltbvxtj4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_483728_phfzrltbvxtj4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_483728_phfzrltbvxtj4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_483728_phfzrltbvxtj4i.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

* {
    touch-action: pan-y;
}

.max-width {
. max-width();
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.weui-btn:after {
    border: 0px !important;
}

.m-t-5 {
    margin-top: 5px;
}
.m-r-5{
    margin-right: 5px;
}

.m-t-10 {
    margin-top: 10px;
}
.m-t-20 {
    margin-top: 20px;
}

/*自定义cell*/
.my-cell-title {
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-cell-label {
    font-size: 13px;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-cell-value {
    font-size:15px;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(51,51,51,1);
}
